<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title></title>
</head>
<body>

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand" th:utext="${user.getUsername()}"></p>
        <p class="navbar-brand"> with roles:</p>
        <p class="navbar-brand" th:each="role : ${user.getRoles()}" th:text="${role.getAuthority()}"></p>
        <div class="collapse navbar-collapse show text-right" id="navbarDark">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link"  href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h2>User information-page</h2>
<div>
    <table class="table caption-top">
        <caption>About user</caption>
        <thead>
            <tr class="table-light">
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Ability</th>
                <th scope="col">Alias</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <td th:utext="${user.getName()}"></td>
                <td th:utext="${user.getLastName()}"></td>
                <td th:utext="${user.getAbility()}"></td>
                <td th:utext="${user.getAlias()}"></td>
                <td th:utext="${user.getUsername()}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="button" value="I'm an admin" onclick="window.location.href = '/admin'">
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>